body {
  background-color: #F1CBA5;
}

.menu {
  display: block
  padding: 15px;
  color: black;
  background-color: #FEEAD6;
}

/*Start Picture Styling*/
img {
  width: 55%;
  height: 50%;
}

.brandlogo {
  width: 15%;
  height: 25%;
  padding-left: 25px;
}

.centerimage {
  text-align: center;
}
/*End Picture Styling*/

.HomePg {
  text-align: center;
  color: #530A0A;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
}

p {
  text-align: left;
  font-size: 20px;
  font-family: cursive;
  margin: 50px 170px;
}

h3 {
  margin-left: 20px;
}

.video {
  text-align: center;
}

ul {
  text-align: left;
  font-size: 20px;
  font-family: cursive;
  margin: 20px 170px;
}

.footerbar {
  display: block
  padding: 15px;
  color: black;
}

.contact {
  font-family: serif;
  font-weight: normal;
  margin-left: 20px;
  }

input, textarea {
  margin-left: 20px;
  width: 300px;
  height: 40px;
}

.submit {
  background-color: #889eab;
  color: black;
}
